@using BlazorSeries.ActionIndicatorsWithMediator.StateManagement

@inject IMediator Mediator

<h1>Hello, world!</h1>

<button class="btn btn-sm btn-danger"
        @onclick=@TriggerFailure>
    Failure
</button>

<button class="btn btn-sm btn-success"
        @onclick=@TriggerSuccess>
    Failure
</button>

@code
{
    private void TriggerFailure()
        => Mediator.Send(new FailedSave());

    private void TriggerSuccess()
        => Mediator.Send(new SuccessfulSave());
}