@typeparam T

<div style="display: flex; gap: 5px;">
    @foreach (var item in Source)
    {
        @ChildContent(item)
    }
</div>

@code {
    [Parameter, EditorRequired] public List<T> Source { get; set; } = default!;
    [Parameter, EditorRequired] public RenderFragment<T> ChildContent { get; set; } = default!;
}