<h5>Just Foreach</h5>

<div style="display: flex; gap: 5px;">
    @foreach (var user in _source)
    {
        <div style="border: 3px solid black; margin: 5px 0; padding: 5px;">
            <div id="username-@user.Id">@user.FirstName @user.LastName</div>
            <div id="userid-@user.Id">@user.Id</div>
            <div id="userregistration-@user.RegistrationUtc">@user.RegistrationUtc</div>
        </div>
    }
</div>

@code {
    private readonly List<User> _source = User.Source;
}