<h5>Just Foreach</h5>

    <div class="grid">
        @foreach (var user in _source)
        {
            <div id="@user.Id" class="box">
                <div class="name">@user.FirstName @user.LastName</div>
                <div class="date">@user.RegistrationUtc</div>
            </div>
        }
    </div>

@code {
    private readonly List<User> _source = User.Source;
}