<h5>Wrapped Foreach</h5>

<GenericList Source="_source">
    <div id="@context.Id" class="box">
        <div class="name">@context.FirstName @context.LastName</div>
        <div class="date">@context.RegistrationUtc</div>
    </div>
</GenericList>

@code {
    private readonly List<User> _source = User.Source;
}