<h5>Wrapped Foreach Named Context</h5>

<GenericList Source="_source" Context="user">
    <div id="@user.Id" class="box">
        <div class="name">@user.FirstName @user.LastName</div>
        <div class="date">@user.RegistrationUtc</div>
    </div>
</GenericList>

@code {
    private readonly List<User> _source = User.Source;
}